<ion-view view-title="环境监测">
  <ion-nav-buttons side="primary">
   <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-ios-arrow-right" ng-click="doSomething()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div>
       <table  cellspacing="0" cellpadding="0" style="border:0; width:100%; border-right:1px solid #000;border-bottom:1px solid #000; text-align:center;vertical-align:center;">
        <tr>
          <td colspan="1"  class="tablea" style="background: white;text-align:center;vertical-align:center;">
            <select  ng-model="selectinstrument" ng-options="insm.id as insm.name for insm in insms">
              <option selected value="">仪器信息</option>
            </select>
          </td>
          <td colspan="1"  class="tablea" style="background: white;text-align:center;vertical-align:center;">
            <div ng-switch="selectinstrument">
                    <div ng-switch-default>待选择</div>
                    <div ng-switch-when="1">已连接</div>
                    <div ng-switch-when="2">未连接</div>
                    <div ng-switch-when="3">未连接</div>
                    <div ng-switch-when="4">已连接</div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="tablea" style="background: white;text-align:center;vertical-align:center;">
            <select>
              <option>2-1B</option>
              <option>B1</option>
              <option>C-3PO</option>
              <option>IG-88</option>
              <option>IT-O</option>
              <option selected="">箱体选择</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="tablea" style="background: white;text-align:center;vertical-align:center;">温度：37℃ 湿度：60% 压力：1atm</td>
        </tr>
      </table>

      <video width="100%" height="400" controls="controls">
        <source src="movie.mp4" type="video/mp4" />
        <source src="movie.ogg" type="video/ogg" />
        <source src="movie.webm" type="video/webm" />
        <object data="movie.mp4" width="320" height="240">
          <embed src="movie.swf" width="320" height="240" />
        </object>
      </video>


  </ion-content>
</ion-view>
