<ion-view view-title="培养箱任务监测">
  <ion-nav-buttons side="primary">
   <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div>
       <table style="width:100%;text-align:center;vertical-align:center">
            <thead style="background-color:#8B7E66;border:2px;color:white">
              <tr>
                <th>检测编号</th>
                <th>样品</th>
                <th>已培养时间</th>
                <th>剩余培养时间</th>
                <th>查看</th>
                <th>紧急停止</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-style="contents[$index%2]" ng-repeat="resultinfo in resultinfos|orderObjectBy:'CollectStart':true|filter:query">
                <td>{{resultinfo.TestId}}</td>
                <td>{{resultinfo.ObjectName}}</td>
                <td>{{resultinfo.time1}}</td>
                <td>{{resultinfo.time2}}</td>
                <td>
                  <button style="background-color:#63B8FF;color:white" ng-click="GoMachineView('{{resultinfo.TestId}}')">查看</button>
                </td>
                <td>
                  <button class="button button-standard" on-touch="" data-ng-disabled="!isStopTest(resultinfo.e)">  
                    {{cashBtnName || 'stop'}}  
                  </button>
                </td>    
              </tr>
            </tbody>
        
        </table>

      


  </ion-content>
</ion-view>
