<ion-view view-title="培养箱任务监控">
  <!-- <ion-nav-buttons side="primary">
   <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()"></button>
  </ion-nav-buttons> -->
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>
    <div>
       <table style="width:100%;text-align:center;vertical-align:center">
            <thead style="background-color:#8B7E66;border:2px;color:white">
              <tr height="50px" >
                <th width="15%" style="text-align:center;vertical-align:middle;">检测编号</th>
                <th width="12%" style="text-align:center;vertical-align:middle;">样品</th>
                <th width="20%" style="text-align:center;vertical-align:middle;">已培养时间</th>
                <th width="20%" style="text-align:center;vertical-align:middle;">剩余时间</th>
                <th width="10%" style="text-align:center;vertical-align:middle;">查看</th>
                <th width="13%" style="text-align:center;vertical-align:middle;">紧急停止</th>
              </tr>
            </thead>
            <tbody>
              <tr height="50px" ng-style="contents[$index%2]" ng-repeat="resultinfo in resultinfos|orderObjectBy:'CollectStart':true|filter:query">
                <td style="text-align:center;vertical-align:middle;">{{resultinfo.TestId.slice(4)}}</td>
                <td style="text-align:center;vertical-align:middle;">{{resultinfo.ObjectName}}</td>
                <td style="text-align:center;vertical-align:middle;">{{resultinfo.time1}}</td>
                <td style="text-align:center;vertical-align:middle;">{{resultinfo.time2}}</td>
                <td style="text-align:center;vertical-align:middle;">
                  <button style="background-color:#63B8FF;color:white" ng-click="GoMachineView('{{resultinfo.TestId}}')">查看</button>
                </td>
                <td style="text-align:center;vertical-align:middle;">
                  <button class="button button-standard" on-touch="" data-ng-disabled="!isStopTest(resultinfo.e)">  
                    {{cashBtnName || 'stop'}}  
                  </button>
                </td>    
              </tr>
            </tbody>
        
        </table>

      


  </ion-content>
</ion-view>
