<ion-view view-title="加注隔离器监控">
  <!-- <ion-nav-buttons side="primary">
   <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()"></button>
  </ion-nav-buttons> -->
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">
      <div ng-repeat="item in monitorlist">
        <div class="card" ng-click="GoTask('{{item.TestType}}', '{{item.TestId}}')">
          <table cellspacing="0" cellpadding="0" style="border:0; width:100%; border-right:1px solid #000;border-bottom:1px solid #000; text-align:center;vertical-align:center;">
            <tbody  style="color:black;overflow: auto;background: white">
              <tr >
                <td width="50px" style="background: white;border-left:1px solid #000;border-top:1px solid #000;text-align:center;vertical-align:center;" ><div>样品名：{{item.ObjectName}}</div></td>
                <td width="80px" style="background: white;border-left:1px solid #000;border-top:1px solid #000;text-align:center;vertical-align:center;" ><div>正在执行的步骤：{{item.NowStep}}</div></td>
                <td width="80px" style="background: white;border-left:1px solid #000;border-top:1px solid #000;text-align:center;vertical-align:center;" ><div>上一步骤：{{item.FormerStep}}</div></td>
                <td width="80px" style="background: white;border-left:1px solid #000;border-top:1px solid #000;text-align:center;vertical-align:center;" ><div>下一步骤：{{item.LaterStep}}</div></td>
                <td style="background: white;border-left:1px solid #000;border-top:1px solid #000" >
                  <div>
                    <button class="button button-standard" on-touch="" data-ng-disabled="!isStopTest('紧急停止')">  
                      {{cashBtnName || '紧急停止'}}  
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="progress">
            <span style="width: {{item.JinDu}}%;"><span>{{item.JinDu}}%</span></span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
