<ion-view view-title="环境监测">
  <ion-nav-buttons side="primary">
   <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div>
       <table style="border-bottom:1px solid #000;border-right:1px solid #000;width:100%;text-align:left;vertical-align:center">
            
            <tbody>
              <tr>
                <td width="70%" class='tablea'>步骤1 ：开进料舱正门{{OrderList[0].Status}}</td>
                <td width="30%" rowspan="26" class='tablea' style="text-align:center;vertical-align:middle;">任务执行仪器的参数</td>
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤2 ：关进料舱正门{{OrderList[1].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤3 ：进料舱灭菌{{OrderList[2].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤4 ：操作舱灭菌{{OrderList[3].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤5 ：开进料舱背门{{OrderList[4].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤6 ：开操作舱正门{{OrderList[5].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤7 ：将垛盘传送至操作舱（前）{{OrderList[6].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤8 ：关进料舱背门{{OrderList[7].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤9 ：关操作舱正门{{OrderList[8].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤10：将上层垛盘传送至机械臂{{OrderList[9].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤11：机械臂加工（SOB）{{OrderList[10].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤12：将上层垛盘传送至操作舱（后）{{OrderList[11].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤13：将中层垛盘传送至机械臂{{OrderList[12].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤14：机械臂加工（SOB）{{OrderList[13].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤15：将中层垛盘传送至操作舱（后）{{OrderList[14].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤16：将下层垛盘传送至机械臂{{OrderList[15].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤17：机械臂加工（SOB）{{OrderList[16].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤18：将下层垛盘传送至操作舱（后）{{OrderList[17].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤19：出料舱灭菌{{OrderList[18].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤20：开操作舱背门{{OrderList[19].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤21：开出料舱正门{{OrderList[20].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤22：将垛盘传送至出料舱{{OrderList[21].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤23：关操作舱背门{{OrderList[22].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤24：关出料舱正门{{OrderList[23].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤25：开出料舱背门{{OrderList[24].Status}}</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">步骤26：关出料舱背门{{OrderList[25].Status}}</td> 
              </tr>
            </tbody>
         
        </table>
        <div class="progress">
            <span style="width: {{Progress}}%;"><span>{{Progress}}%</span></span>
        </div>

      


  </ion-content>
</ion-view>
