<ion-view view-title="环境监测">
  <ion-nav-buttons side="primary">
   <button class="button button-icon ion-ios-arrow-left" ng-click="nvGoback()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div>
       <table style="border-bottom:1px solid #000;border-right:1px solid #000;width:100%;text-align:center;vertical-align:center">
            
            <tbody>
              <tr>
                <td class='tablea'>上一步：进料舱灭菌</td>
                <td rowspan="3" class='tablea' style="text-align:center;vertical-align:middle;">任务执行仪器的参数</td>
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">正在执行：进料舱背门打开</td> 
              </tr>
              <tr>
                <td style="border-left:1px solid #000;">下一步:垛盘移至操作舱</td> 
              </tr>
            </tbody>
         
        </table>
        <div class="progress">
            <span style="width: 50%;"><span>50%</span></span>
        </div>

      


  </ion-content>
</ion-view>
