<ion-view view-title="传导装置信息表">
   <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/dash">返回</a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <a class="button" href="#/tab/dash/opconveyer">操作</a>
      
    </ion-nav-buttons>
  <ion-content>
	<div>
        <table style="width:100%;text-align:center;vertical-align:center">
            <thead style="background-color:#AB82FF;border:2px;color:white">
	            <tr>
	            	<th>装置编号</th>
	            	<th>生产日期</th>
	            	<th>生产厂家</th>
	            	<th>参数描述</th>
	            	<th>更新记录</th>
	          	</tr>
            </thead>
            <tbody style="background-color:#CCCCCC">
            	<tr>
            		<td>100</td>
            		<td>20161202</td>
            		<td>厂家1</td>
            		<td>一般般</td>
            		<td>20161202</td>
            	</tr>
            	<tr>
            		<td>101</td>
            		<td>20161202</td>
            		<td>厂家2</td>
            		<td>垃圾</td>
            		<td>20161202</td>
            	</tr>
            </tbody>
        
        </table>
  	</div>
  </ion-content>
</ion-view>