<ion-view view-title="隔离器参数记录表">
    <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/dash/itemisolator">返回</a>
    </ion-nav-buttons>
    
     
  
  <ion-content>
  	 <div>
        <table style="width:100%;text-align:center;vertical-align:center">
            <thead style="background-color:#8B7E66;border:2px;color:white">
              <tr>
                <th style="text-align:center;vertical-align:middle;" >隔离器编号</th>
                <th style="text-align:center;vertical-align:middle;" >仓体编号</th>
                <th style="text-align:center;vertical-align:middle;" >测量时间</th>
                <th style="text-align:center;vertical-align:middle;" >参数编码</th>
                <th style="text-align:center;vertical-align:middle;" >参数值</th>
                <th style="text-align:center;vertical-align:middle;" >
                  <select style="background-color:#8B7E66;border:2px;color:white;text-align:center;vertical-align:center" ng-model="selectrevision" ng-options="revisioninfo.id as revisioninfo.name for revisioninfo in revisioninfos">
                    
                  </select>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-style="contents[$index%2]" ng-repeat="envisolatorinfo in envisolatorinfos">
                <td style="text-align:center;vertical-align:middle;" >{{envisolatorinfo.IsolatorId}}</td>
                <td style="text-align:center;vertical-align:middle;" >{{envisolatorinfo.CabinId}}</td>
                <td style="text-align:center;vertical-align:middle;" >{{envisolatorinfo.MeaTime}}</td>
                <td style="text-align:center;vertical-align:middle;" >{{envisolatorinfo.IsoCode}}</td>
                <td style="text-align:center;vertical-align:middle;" >{{envisolatorinfo.IsoValue}}</td>
                <td style="text-align:center;vertical-align:middle;" >
                  <div ng-switch="selectrevision">
                    <div ng-switch-when="1">{{envisolatorinfo.revDateTime}}</div>
                    <div ng-switch-when="2">{{envisolatorinfo.TerminalIP}}</div>
                    <div ng-switch-when="3">{{envisolatorinfo.TerminalName}}</div>
                    <div ng-switch-when="4">{{envisolatorinfo.revUserId}}</div>
                    <div ng-switch-when="5">{{envisolatorinfo.revIdentify}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
        
        </table>
    </div>
  </ion-content>
</ion-view>