<ion-view view-title="培养箱信息表">
   <ion-nav-buttons side="left">
      <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/dash">返回</a>
    </ion-nav-buttons>
    <!-- <ion-nav-buttons side="right">
      <a class="button" href="#/tab/dash/envincubator">环境</a>
      <a class="button" href="#/tab/dash/opequipment">操作</a>
    </ion-nav-buttons> -->


  <ion-content>
	   <div>
        <table style="width:100%;text-align:center;vertical-align:center;">
            <thead style="background-color:#8B7E66;border:2px;color:white;overflow: auto;">
	            <tr height="50px">
	            	<th style="text-align:center;vertical-align:middle;" width="20%">培养箱编号</th>
	            	<th style="text-align:center;vertical-align:middle;" width="20%">生产日期</th>
	            	<th style="text-align:center;vertical-align:middle;" width="15%">供应商</th>
	            	<!-- <th >参数描述</th> -->
                
	            	<th style="text-align:center;vertical-align:middle;" width="35%">
                  <!-- <div style="width:100px;word-wrap:break-word;"> -->
                    <select style="width:120px;background-color:#8B7E66;border:2px;color:white;text-align:center;vertical-align:center;word-wrap:break-word;overflow: auto;text-overflow:ellipsis;white-space: nowrap;" ng-model="selectrevision" ng-options="revisioninfo.id as revisioninfo.name for revisioninfo in revisioninfos">
                      <!-- <option selected value="6">参数描述/option> -->
                    </select>
                  <!-- </div> -->
                </th>
                <th style="text-align:center;vertical-align:middle;" width="10%">仪器信息</th>
	          	</tr>
            </thead>
            <tbody>
            	<tr height="50px" ng-style="contents[$index%2]" ng-repeat="incubatorinfo in incubatorinfos">
            		<td style="text-align:center;vertical-align:middle;" >{{incubatorinfo.IncubatorId}}</td>
            		<td style="text-align:center;vertical-align:middle;" >{{incubatorinfo.ProductDay.slice(0,10)}}</td>
            		<td style="text-align:center;vertical-align:middle;" >{{incubatorinfo.EquipPro}}</td>
            		<!-- <td ><div style="width:40px;word-wrap:break-word;" >{{incubatorinfo.InsDescription}}</div></td> -->
                
            		<td style="text-align:center;vertical-align:middle;" >
                   <div style="text-align:center;vertical-align:middle;word-wrap:break-word;" ng-switch="selectrevision">
                    <div ng-switch-when="1">{{incubatorinfo.revDateTime}}</div>
                    <div ng-switch-when="2">{{incubatorinfo.TerminalIP}}</div>
                    <div ng-switch-when="3">{{incubatorinfo.TerminalName}}</div>
                    <div ng-switch-when="4">{{incubatorinfo.revUserId}}</div>
                    <div ng-switch-when="5">{{incubatorinfo.revIdentify}}</div>
                    <div ng-switch-when="6">{{incubatorinfo.InsDescription}}</div>
                  </div>
                </td>
                <td>
                  <div style="width:40px;word-wrap:break-word;">
                    <!-- <h3 style="cursor:pointer;font-size: 10px" ng-click="showmenu('{{incubatorinfo.IncubatorId}}')"> 查看</h3> -->
                    <div id="{{incubatorinfo.IncubatorId}}" style="text-align:center;vertical-align:middle; border:none; border-top:none">
                      <ul>
                        <li><button style="text-align:center;vertical-align:middle;cursor:pointer;font-size: 10px" ng-click="toResult(sampleinfo.ObjectNo,sampleinfo.ObjIncuSeq,sampleinfo.ObjCompany)">操作</button></li>
                        <li><button style="text-align:center;vertical-align:middle;cursor:pointer;font-size: 10px" ng-click="toResult(sampleinfo.ObjectNo,sampleinfo.ObjIncuSeq,sampleinfo.ObjCompany)">环境</button></li>
                        <li><button style="text-align:center;vertical-align:middle;cursor:pointer;font-size: 10px" ng-click="toResult(sampleinfo.ObjectNo,sampleinfo.ObjIncuSeq,sampleinfo.ObjCompany)">故障</button></li>
                      </ul>
                    </div>
                  </div>
                </td> 
            	</tr>
            </tbody>
        
        </table>
  	</div>
  </ion-content>
</ion-view>